In [1]:
import os
import re
import tabula
import pandas as pd
import numpy as np

In [2]:
# Set the JAVA_HOME environment variable to the Java installation directory
os.environ["JAVA_HOME"] = "/opt/homebrew/opt/openjdk/libexec/openjdk.jdk"

In [3]:
# Set display options to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [4]:
%pip install -q tabula-py
%pip install selenium requests

Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: selenium in /opt/anaconda3/lib/python3.11/site-packages (4.22.0)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: urllib3<3,>=1.26 in /opt/anaconda3/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in /opt/anaconda3/lib/python3.11/site-packages (from selenium) (0.26.0)
Requirement already satisfied: trio-websocket~=0.9 in /opt/anaconda3/lib/python3.11/site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in /opt/anaconda3/lib/python3.11/site-packages (from selenium) (2024.6.2)
Requirement already satisfied: typing_extensions>=4.9.0 in /opt/anaconda3/lib/python3.11/site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client>=1.8.0 in /opt/anaconda3/lib/python3.11/site-packages (from selenium) (1.8.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: attrs>=23.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in /opt/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in /opt/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in /opt/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: wsproto>=0.14 in /opt/anaconda3/lib/python3.11/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /opt/anaconda3/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /opt/anaconda3/lib/python3.11/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

### **Importing**

The following lines of code download the files for the breakdown of generation charge from MERALCO's Rate Archives.

In [5]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import requests
import time

options = webdriver.ChromeOptions()
options.add_argument('--headless')  # Run headless Chrome (no GUI)
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
options.add_argument('--disable-gpu')
options.add_argument('--window-size=1920x1080')

driver = webdriver.Chrome(options=options)

try:
    driver.get("https://company.meralco.com.ph/news-and-advisories/rates-archives")

    # Click "Show more" until all items are loaded
    while True:
        try:
            show_more_button = WebDriverWait(driver, 10).until(
                EC.element_to_be_clickable((By.XPATH, "//a[@class='btn btn-bordered load-more' and @title='Go to next page']"))
            )
            show_more_button.click()
            time.sleep(2)  # Wait for content to load
        except Exception as e:
            break  # Break the loop if no more "Show more" button is found

    rows = driver.find_elements(By.XPATH, "//tr[.//span[contains(text(), 'Generation')]]")

    # Prepare the download directory
    os.makedirs('pdf downloads', exist_ok=True)

    for row in rows:
        try:
            # Find the date in the same row
            date_element = row.find_element(By.XPATH, ".//td[contains(@class, 'views-field-field-date-created')]")
            date_text = date_element.text.strip()

            # Convert date text to "mm-yy" format
            match = re.search(r'(\w+)\s+(\d{4})', date_text)
            if match:
                month_str, year_str = match.groups()
                month = {
                    'January': '01', 'February': '02', 'March': '03', 'April': '04',
                    'May': '05', 'June': '06', 'July': '07', 'August': '08',
                    'September': '09', 'October': '10', 'November': '11', 'December': '12'
                }[month_str]
                date_formatted = f"{month}-{year_str[-2:]}"

                # Break the loop if the date is December 2017
                if month_str == 'December' and year_str == '2017':
                    print("Reached December 2017. Stopping downloads.")
                    break
            else:
                print(f"Date format not recognized for text: {date_text}")
                continue  # Skip this row if date format is not recognized

            # Find the PDF link
            pdf_link = row.find_element(By.XPATH, ".//a[contains(@class, 'btn-bordered-orange') and contains(@href, '.pdf')]")
            url = pdf_link.get_attribute('href')

            # Download the PDF
            response = requests.get(url)
            if response.status_code == 200:
                pdf_name = f"gc_table_{date_formatted}.pdf"
                with open(f'pdf downloads/{pdf_name}', 'wb') as f:
                    f.write(response.content)
            else:
                print(f"Failed to download PDF from {url}, status code: {response.status_code}")

        except Exception as e:
            print(f"Error processing row: {e}")

finally:
    driver.quit()

Reached December 2017. Stopping downloads.

In [6]:
#Create a new dataframe for each pdf file.

downloads_dir = "pdf downloads"

dataframes = {}

pdf_files = [f for f in os.listdir(downloads_dir) if f.endswith('.pdf')]

for pdf_file in pdf_files:
    date_part = pdf_file.split('_')[-1].replace('.pdf', '')
    pdf_path = os.path.join(downloads_dir, pdf_file)

    df = tabula.read_pdf(pdf_path, stream=True, pages=1)[0]

    dataframes[f"df_{date_part}"] = df

### **Processing**

In [30]:
def process_rows(df):

    supplier_index = df[df.iloc[:, 0].str.contains("SUPPLIERS", na=False)].index[0]
    df_new = df.iloc[supplier_index + 1:]

    df_new = df_new.reset_index(drop=True)

    charge_index = df_new[df_new.iloc[:, 0].str.contains("CHARGE", na=False, case=False, regex=False)].index
    if not charge_index.empty:
        charge_index = charge_index[0]
        df_new = df_new.iloc[:charge_index + 1]

    # Reset index for the cleaned DataFrame
    df_new = df_new.reset_index(drop=True)

    # Identify columns based on their content
    col_with_comma = None
    col_with_dot = None
    col_with_percent = None

    # Find the first column with a comma
    for i in range(1, len(df_new.columns)):
        if df_new.iloc[:, i].dtype == object:
            if col_with_comma is None and df_new.iloc[:, i].str.contains(',', na=False).any():
                col_with_comma = i

    # Find the last column with a dot
    for i in range(len(df_new.columns) - 1, -1, -1):
        if df_new.iloc[:, i].dtype == object:
            if df_new.iloc[:, i].str.contains('\.', na=False).any():
                col_with_dot = i
                break

    for i in range(len(df_new.columns) - 1, -1, -1):
        if df_new.iloc[:, i].dtype == object:
            if df_new.iloc[:, i].str.contains('%', na=False).any():
                col_with_percent = i
                break

    columns_to_include = [0]  # Always include the first column

    if col_with_comma is not None:
        columns_to_include.append(col_with_comma)

    if col_with_dot is not None and col_with_dot not in columns_to_include:
        columns_to_include.append(col_with_dot)

    if col_with_percent is not None and col_with_percent not in columns_to_include:
        columns_to_include.append(col_with_percent)

    if len(columns_to_include) == 1:
        # If only one column to include, default to the first two columns
        columns_to_include = [0, 1]

    df_new = df_new.iloc[:, columns_to_include]
    df_new.columns = ['Power Suppliers','kWh','Average Generation Cost', '%']

    # Remove numbers in Power Suppliers
    df_new['Power Suppliers'] = df_new['Power Suppliers'].str.replace(r'^\d+\.\s*', '', regex=True)

    # Get the 'Generation Charge' value
    charge_row = df[df.iloc[:, 0].str.contains('CHARGE', case=False, na=False)]

    if not charge_row.empty:
        # Get the value from the last column
        rate_value = charge_row.iloc[:, -1].values[0]

        # Check if the value is NaN
        if pd.isna(rate_value):
            # If NaN, get the value from the second last column
            rate_value = charge_row.iloc[:, -2].values[0]
    else:
        rate_value = None

    df_new['Generation Charge'] = rate_value

    return df_new

In [31]:
def add_date(df,key):
    df = process_rows(dataframes[key])

    end_part = key.split("_")[1]

    month_map = {
        '01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr',
        '05': 'May', '06': 'Jun', '07': 'Jul', '08': 'Aug',
        '09': 'Sep', '10': 'Oct', '11': 'Nov', '12': 'Dec'
    }
    month, year = end_part.split('-')
    formatted_date = f"{month_map[month]}-{year}"

    # Add the new column to the dataframe
    df['Date'] = formatted_date

    return(df)

In [33]:
# Initialize an empty list to store the processed dataframes
processed_dfs = []

for key in dataframes:
    print(key)
    df = dataframes[key]
    processed_df = add_date(process_rows(df), key)
    processed_dfs.append(processed_df)

# Concatenate all the processed dataframes into one big dataframe
big_df = pd.concat(processed_dfs, ignore_index=True)

df_04-24
df_04-18

ValueError: Length mismatch: Expected axis has 3 elements, new values have 4 elements

In [29]:
big_df['kWh'] = big_df['kWh'].str.replace(r'\s', '', regex=True)   # Remove all spaces
big_df['kWh'] = big_df['kWh'].str.replace(r'^\d+\.?\d*%', '', regex=True)  # Remove percentage and any preceding characters

big_df['Power Suppliers'] = big_df['Power Suppliers'].str.replace(r'\s*\d+\.?\d*%\s*$', '', regex=True)

big_df = big_df[~big_df['Power Suppliers'].str.contains("Subtotal", na=False, case=False)]

big_df.head(20)

,Power Suppliers,kWh,Average Generation Cost,Generation Charge,Date
0,Quezon Power Phils Ltd. Co. (QPPL),"73,940,954",17.6352,6.3889,Apr-24
1,First Gas Power Corporation (FGPC) – Santa Rita,"499,668,979",6.7554,6.3889,Apr-24
2,FGP Corp. (FGP) – San Lorenzo,"274,353,355",6.5367,6.3889,Apr-24
4,First NatGas Power Corp. (FNPC) - San Gabriel,-,-,6.3889,Apr-24
5,San Buenaventura Power Ltd. Co. (SBPL),"286,480,000",6.9822,6.3889,Apr-24
6,Solar Philippines Tarlac Corp. (SPTC),"11,478,701",3.3122,6.3889,Apr-24
7,AC Energy (baseload),"139,200,000",3.9240,6.3889,Apr-24
8,AC Energy (midmerit),"45,936,000",4.4442,6.3889,Apr-24
9,Sual Power Inc (SPI) (midmerit),"106,720,000",5.1630,6.3889,Apr-24
10,Energy Development Corporation (EDC) (midmerit),"28,385,000",5.5294,6.3889,Apr-24
11,Powersource First Bulacan Solar Inc. (PFBS),"10,007,477",4.8408,6.3889,Apr-24
12,Solar Philippines Tanauan Corp. (SPTanC),-,-,6.3889,Apr-24
13,South Premiere Power Corp. (SPPC) EPSA-1,"301,278,406",6.7340,6.3889,Apr-24
14,Therma Luzon Inc (TLI) EPSA,"202,433,900",5.9056,6.3889,Apr-24
15,South Premiere Power Corp. (SPPC) EPSA-2,"206,780,154",6.6211,6.3889,Apr-24
17,Wholesale Electricity Spot Market (WESM),"732,979,397",5.5124,6.3889,Apr-24
18,Export Energy from Net Metering Customers,"4,634,443",6.7517,6.3889,Apr-24
19,Others*,"(529,661)",NaN,6.3889,Apr-24
20,TOTAL,"2,923,747,105",6.3882,6.3889,Apr-24
21,Other Generation Adjustments (OGA),NaN,NaN,6.3889,Apr-24

### Creating Supplier Dataframe

In [11]:
unique_suppliers = big_df['Power Suppliers'].unique()

# Create a mapping of power suppliers to unique IDs
supplier_id_map = {supplier: id+1 for id, supplier in enumerate(unique_suppliers)}

# Create a new DataFrame from the mapping
supplier_df = pd.DataFrame(list(supplier_id_map.items()), columns=['Power Suppliers', 'Power Supplier ID'])

supplier_df.head()

                                   Power Suppliers  Power Supplier ID
0               Quezon Power Phils Ltd. Co. (QPPL)                  1
1  First Gas Power Corporation (FGPC) – Santa Rita                  2
2                    FGP Corp. (FGP) – San Lorenzo                  3
3    First NatGas Power Corp. (FNPC) - San Gabriel                  4
4           San Buenaventura Power Ltd. Co. (SBPL)                  5

In [12]:
# Create a mapping from Power Suppliers to Supplier IDs
supplier_mapping = dict(zip(supplier_df['Power Suppliers'], supplier_df['Power Supplier ID']))

# Replace names with IDs in big_df
big_df['Power Supplier ID'] = big_df['Power Suppliers'].map(supplier_mapping)

# Ensure IDs are not converted to floats
#big_df['Power Supplier ID'] = big_df['Power Supplier ID'].astype(int)

# Drop the old Power Suppliers column
big_df = big_df.drop(columns=['Power Suppliers'])

big_df.head()

,kWh,Average Generation Cost,Generation Charge,Date,Power Supplier ID
0,"73,940,954",17.6352,6.3889,Apr-24,1
1,"499,668,979",6.7554,6.3889,Apr-24,2
2,"274,353,355",6.5367,6.3889,Apr-24,3
3,-,-,6.3889,Apr-24,4
4,"286,480,000",6.9822,6.3889,Apr-24,5

In [13]:
%pip install openpyxl

with pd.ExcelWriter("Historical_MERALCO_GC_Breakdown.xlsx", engine='openpyxl') as writer:
    big_df.to_excel(writer, sheet_name='Historical GC', index=False)
    supplier_df.to_excel(writer, sheet_name='Supplier IDs', index=False)

Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.11/site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in /opt/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

### **Troubleshooting**

In [55]:
df = tabula.read_pdf("pdf downloads/gc_table_04-18.pdf", stream=True, pages=1)[0]

In [56]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,(C),Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,(D = B+ C),[D/A]
1,NaN,NaN,NaN,(B),Other Cost,NaN,NaN
2,NaN,% of Total (A),NaN,NaN,NaN,Total,Average
3,NaN,NaN,NaN,Basic,Adjustments (NSS,NaN,NaN
4,Source,kWh kWh,NaN,NaN,NaN,Generation Cost for,Generation
5,NaN,NaN,NaN,Generation Cost,and Other Billing,NaN,NaN
6,NaN,Purchased Purchased,NaN,NaN,NaN,the Month,Cost
7,NaN,NaN,NaN,(PhP),Adjustments),NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,(PhP),(PhP/kWh)
9,NaN,NaN,NaN,NaN,(PhP),NaN,NaN
10,BILATERAL CONTRACTS WITH POWER SUPPLIERS,NaN,NaN,NaN,NaN,NaN,NaN
11,1. Quezon Power Phils Ltd. Co. (QPPL),"1.81% 45,502,500",NaN,"9 20,841,060","(996,221)","919,844,839",20.2153
12,2. First Gas Power Corporation (FGPC) – Santa ...,"24.71% 6 21,004,000",NaN,"2,867,967,264","(2,552,175)","2,865,415,088",4.6142
13,3. FGP Corp. (FGP) – San Lorenzo,"12.69% 3 19,018,000",NaN,"1,453,855,314","(753,983)","1,453,101,331",4.5549
14,Subtotal - Independent Power Producers (IPPs),"39.21% 985,524,500",NaN,"5,242,663,638","(4,302,380)","5,238,361,258",5.3153
15,4. SEM-Calaca Power Corp. (SCPC),"1.42% 35,627,158",NaN,"2 37,624,449","(50,221)","237,574,227",6.6683
16,5. Masinloc Power Partners Co. Ltd. (MPPCL),"5.57% 1 40,045,000",NaN,"7 50,623,879","(2,127,853)","748,496,027",5.3447
17,6. South Premiere Power Corp. (SPPC),"21.28% 5 34,746,150",NaN,"2,375,626,800","(206,616)","2,375,420,184",4.4421
18,7. Therma Luzon Inc. (TLI),"6.42% 1 61,271,878",NaN,"8 34,832,756","(384,718)","834,448,038",5.1742
19,8. San Miguel Energy Corp. (SMEC),"7.63% 1 91,753,260",NaN,"1,042,524,456","(44,769)","1,042,479,687",5.4366
20,9. Therma Mobile Inc. (TMO),"1.84% 46,290,740",NaN,"3 94,924,799","18,372,441","413,297,241",8.9283
21,10. Toledo Power Co. (TPC),0.00% -,NaN,-,"(3,405,813)","(3,405,813)",0.0000
22,"11. Philippine Power & Development, Co. (PPDC)","0.01% 1 72,105",NaN,"861,489",-,"861,489",5.0056
23,12. Panay Energy Development Corp. (PEDC),"1.33% 33,301,980",NaN,"1 43,690,623","(8,910,057)","134,780,566",4.0472
24,Subtotal - Power Supply Agreements (PSAs),"45.50% 1,143,208,271",NaN,"5,780,709,251","3,242,394","5,783,951,645",5.0594
25,WESM,"15.29% 3 84,130,635",NaN,"2,025,516,497","424,252,040","2,449,768,537",6.3774
26,EXPORT ENERGY FROM NET METERING CUSTOMERS,"0.01% 2 52,821",NaN,"1,285,360",-,"1,285,360",5.0841
27,TOTAL,"100.00% 2,513,116,227",NaN,"1 3,050,174,746","4 23,192,053","13,473,366,799",5.3612
28,OTHER GENERATION ADJUSTMENTS (OGA),NaN,NaN,NaN,NaN,NaN,NaN
29,1. Pilferage Recovery,NaN,NaN,NaN,NaN,NaN,(0.0120)
30,2. ILP Recovery,NaN,NaN,NaN,NaN,NaN,0.0000
31,3. High Load Factor Rider,NaN,NaN,NaN,NaN,NaN,0.0005
32,4. TOU Differential,NaN,NaN,NaN,NaN,NaN,0.0150
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,5. GOUR Recovery (ERC Case No. 2011-010 CF),NaN,NaN,NaN,NaN,NaN,0.0047
35,6. Other Adjustments (Recovery of the remainin...,NaN,NaN,NaN,NaN,NaN,0.1041
36,APRIL 2018 GENERATION CHARGE,NaN,NaN,NaN,NaN,NaN,5.4735

In [85]:
import pandas as pd

# Assuming df is already defined and contains the relevant data

# Step 1: Filter the DataFrame
supplier_index = df[df.iloc[:, 0].str.contains("SUPPLIERS", na=False)].index[0]
df_new = df.iloc[supplier_index + 1:]

df_new = df_new.reset_index(drop=True)

charge_index = df_new[df_new.iloc[:, 0].str.contains("CHARGE", na=False, case=False, regex=False)].index
if not charge_index.empty:
    charge_index = charge_index[0]
    df_new = df_new.iloc[:charge_index + 1]

# Reset index for the cleaned DataFrame
df_new = df_new.reset_index(drop=True)

# Identify columns based on their content
col_with_comma = None
col_with_dot = None
col_with_percent = None

# Find the first column with a comma
for i in range(1, len(df_new.columns)):
    if df_new.iloc[:, i].dtype == object:
        if col_with_comma is None and df_new.iloc[:, i].str.contains(',', na=False).any():
            col_with_comma = i

# Find the last column with a dot
for i in range(len(df_new.columns) - 1, -1, -1):
    if df_new.iloc[:, i].dtype == object:
        if df_new.iloc[:, i].str.contains('\.', na=False).any():
            col_with_dot = i
            break

# Find the last column with a percent sign
for i in range(len(df_new.columns) - 1, -1, -1):
    if df_new.iloc[:, i].dtype == object:
        if df_new.iloc[:, i].str.contains('%', na=False).any():
            col_with_percent = i
            break

columns_to_include = [0]  # Always include the first column

if col_with_comma is not None:
    columns_to_include.append(col_with_comma)

if col_with_dot is not None and col_with_dot not in columns_to_include:
    columns_to_include.append(col_with_dot)

if col_with_percent is not None:
    columns_to_include.append(col_with_percent)

if len(columns_to_include) == 1:
    # If only one column to include, default to the first two columns
    columns_to_include = [0, 1]

if col_with_comma == col_with_percent:
    columns_to_include = [
    df_new.columns[0],  # First column
    'kWh',  # kWh column
    df_new.columns[col_with_dot],  # Column with dot
    df_new.columns[col_with_percent]  # Column with percent
    ]

    # Adjust the regular expression to handle spaces within the kWh value
    df_new['%'] = df_new.iloc[:, col_with_percent].str.extract(r'(\d+\.\d+%)')

    # Remove spaces within the kWh values
    df_new['kWh'] = df_new.iloc[:, col_with_comma].str.replace(' ', '')

df_new = pd.DataFrame({
    'Power Suppliers':df_new.iloc[:, 0],
    'kWh': df_new['kWh'],
    'Average Generation Cost': df_new.iloc[:, col_with_dot],
    '%': df_new['%']
})
df_new.columns = ['Power Suppliers', 'kWh', 'Average Generation Cost', '%']

# Remove numbers in Power Suppliers
df_new['Power Suppliers'] = df_new['Power Suppliers'].str.replace(r'^\d+\.\s*', '', regex=True)

# Get the 'Generation Charge' value
charge_row = df[df.iloc[:, 0].str.contains('CHARGE', case=False, na=False)]

if not charge_row.empty:
    # Get the value from the last column
    rate_value = charge_row.iloc[:, -1].values[0]

    # Check if the value is NaN
    if pd.isna(rate_value):
        # If NaN, get the value from the second last column
        rate_value = charge_row.iloc[:, -2].values[0]
else:
    rate_value = None

df_new['Generation Charge'] = rate_value

df_new

,Power Suppliers,kWh,Average Generation Cost,%,Generation Charge
0,Quezon Power Phils Ltd. Co. (QPPL),"1.81%45,502,500",20.2153,1.81%,5.4735
1,First Gas Power Corporation (FGPC) – Santa Rita,"24.71%621,004,000",4.6142,24.71%,5.4735
2,FGP Corp. (FGP) – San Lorenzo,"12.69%319,018,000",4.5549,12.69%,5.4735
3,Subtotal - Independent Power Producers (IPPs),"39.21%985,524,500",5.3153,39.21%,5.4735
4,SEM-Calaca Power Corp. (SCPC),"1.42%35,627,158",6.6683,1.42%,5.4735
5,Masinloc Power Partners Co. Ltd. (MPPCL),"5.57%140,045,000",5.3447,5.57%,5.4735
6,South Premiere Power Corp. (SPPC),"21.28%534,746,150",4.4421,21.28%,5.4735
7,Therma Luzon Inc. (TLI),"6.42%161,271,878",5.1742,6.42%,5.4735
8,San Miguel Energy Corp. (SMEC),"7.63%191,753,260",5.4366,7.63%,5.4735
9,Therma Mobile Inc. (TMO),"1.84%46,290,740",8.9283,1.84%,5.4735
10,Toledo Power Co. (TPC),0.00%-,0.0000,0.00%,5.4735
11,"Philippine Power & Development, Co. (PPDC)","0.01%172,105",5.0056,0.01%,5.4735
12,Panay Energy Development Corp. (PEDC),"1.33%33,301,980",4.0472,1.33%,5.4735
13,Subtotal - Power Supply Agreements (PSAs),"45.50%1,143,208,271",5.0594,45.50%,5.4735
14,WESM,"15.29%384,130,635",6.3774,15.29%,5.4735
15,EXPORT ENERGY FROM NET METERING CUSTOMERS,"0.01%252,821",5.0841,0.01%,5.4735
16,TOTAL,"100.00%2,513,116,227",5.3612,100.00%,5.4735
17,OTHER GENERATION ADJUSTMENTS (OGA),NaN,NaN,NaN,5.4735
18,Pilferage Recovery,NaN,(0.0120),NaN,5.4735
19,ILP Recovery,NaN,0.0000,NaN,5.4735
20,High Load Factor Rider,NaN,0.0005,NaN,5.4735
21,TOU Differential,NaN,0.0150,NaN,5.4735
22,NaN,NaN,NaN,NaN,5.4735
23,GOUR Recovery (ERC Case No. 2011-010 CF),NaN,0.0047,NaN,5.4735
24,Other Adjustments (Recovery of the remaining F...,NaN,0.1041,NaN,5.4735
25,APRIL 2018 GENERATION CHARGE,NaN,5.4735,NaN,5.4735