In [1]:
import os
import re
import tabula
import pandas as pd
import numpy as np

In [2]:
# Set the JAVA_HOME environment variable to the Java installation directory
os.environ["JAVA_HOME"] = "/opt/homebrew/opt/openjdk/libexec/openjdk.jdk"

In [3]:
# Set display options to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [4]:
%pip install -q tabula-py
%pip install selenium requests

Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: selenium in /opt/anaconda3/lib/python3.11/site-packages (4.22.0)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: urllib3<3,>=1.26 in /opt/anaconda3/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Requirement already satisfied: trio~=0.17 in /opt/anaconda3/lib/python3.11/site-packages (from selenium) (0.26.0)
Requirement already satisfied: trio-websocket~=0.9 in /opt/anaconda3/lib/python3.11/site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in /opt/anaconda3/lib/python3.11/site-packages (from selenium) (2024.6.2)
Requirement already satisfied: typing_extensions>=4.9.0 in /opt/anaconda3/lib/python3.11/site-packages (from selenium) (4.9.0)
Requirement already satisfied: websocket-client>=1.8.0 in /opt/anaconda3/lib/python3.11/site-packages (from selenium) (1.8.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: attrs>=23.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in /opt/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in /opt/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in /opt/anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: wsproto>=0.14 in /opt/anaconda3/lib/python3.11/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /opt/anaconda3/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /opt/anaconda3/lib/python3.11/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

### **Importing**

The following lines of code download the files for the breakdown of generation charge from MERALCO's Rate Archives.

In [5]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import requests
import time

options = webdriver.ChromeOptions()
options.add_argument('--headless')  # Run headless Chrome (no GUI)
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
options.add_argument('--disable-gpu')
options.add_argument('--window-size=1920x1080')

driver = webdriver.Chrome(options=options)

try:
    driver.get("https://company.meralco.com.ph/news-and-advisories/rates-archives")

    # Click "Show more" until all items are loaded
    while True:
        try:
            show_more_button = WebDriverWait(driver, 10).until(
                EC.element_to_be_clickable((By.XPATH, "//a[@class='btn btn-bordered load-more' and @title='Go to next page']"))
            )
            show_more_button.click()
            time.sleep(2)  # Wait for content to load
        except Exception as e:
            break  # Break the loop if no more "Show more" button is found

    rows = driver.find_elements(By.XPATH, "//tr[.//span[contains(text(), 'Generation')]]")

    # Prepare the download directory
    os.makedirs('pdf downloads', exist_ok=True)

    for row in rows:
        try:
            # Find the date in the same row
            date_element = row.find_element(By.XPATH, ".//td[contains(@class, 'views-field-field-date-created')]")
            date_text = date_element.text.strip()

            # Convert date text to "mm-yy" format
            match = re.search(r'(\w+)\s+(\d{4})', date_text)
            if match:
                month_str, year_str = match.groups()
                month = {
                    'January': '01', 'February': '02', 'March': '03', 'April': '04',
                    'May': '05', 'June': '06', 'July': '07', 'August': '08',
                    'September': '09', 'October': '10', 'November': '11', 'December': '12'
                }[month_str]
                date_formatted = f"{month}-{year_str[-2:]}"

                # Break the loop if the date is December 2017
                if month_str == 'December' and year_str == '2017':
                    print("Reached December 2017. Stopping downloads.")
                    break
            else:
                print(f"Date format not recognized for text: {date_text}")
                continue  # Skip this row if date format is not recognized

            # Find the PDF link
            pdf_link = row.find_element(By.XPATH, ".//a[contains(@class, 'btn-bordered-orange') and contains(@href, '.pdf')]")
            url = pdf_link.get_attribute('href')

            # Download the PDF
            response = requests.get(url)
            if response.status_code == 200:
                pdf_name = f"gc_table_{date_formatted}.pdf"
                with open(f'pdf downloads/{pdf_name}', 'wb') as f:
                    f.write(response.content)
            else:
                print(f"Failed to download PDF from {url}, status code: {response.status_code}")

        except Exception as e:
            print(f"Error processing row: {e}")

finally:
    driver.quit()

Reached December 2017. Stopping downloads.

In [6]:
#Create a new dataframe for each pdf file.

downloads_dir = "pdf downloads"

dataframes = {}

pdf_files = [f for f in os.listdir(downloads_dir) if f.endswith('.pdf')]

for pdf_file in pdf_files:
    date_part = pdf_file.split('_')[-1].replace('.pdf', '')
    pdf_path = os.path.join(downloads_dir, pdf_file)

    df = tabula.read_pdf(pdf_path, stream=True, pages=1)[0]

    dataframes[f"df_{date_part}"] = df

### **Processing**

In [136]:
def process_rows(df):
    # Assuming df is already defined and contains the relevant data

    # Step 1: Filter the DataFrame
    supplier_index = df[df.iloc[:, 0].str.contains("SUPPLIERS", na=False)].index[0]
    df_new = df.iloc[supplier_index + 1:]

    df_new = df_new.reset_index(drop=True)

    charge_index = df_new[df_new.iloc[:, 0].str.contains("CHARGE", na=False, case=False, regex=False)].index
    if not charge_index.empty:
        charge_index = charge_index[0]
        df_new = df_new.iloc[:charge_index + 1]

    # Reset index for the cleaned DataFrame
    df_new = df_new.reset_index(drop=True)

    # Identify columns based on their content
    col_with_comma = None
    col_with_dot = None
    col_with_percent = None

    # Find the first column with a comma
    for i in range(1, len(df_new.columns)):
        if df_new.iloc[:, i].dtype == object:
            if col_with_comma is None and df_new.iloc[:, i].str.contains(',', na=False).any():
                col_with_comma = i

    # Find the last column with a dot
    for i in range(len(df_new.columns) - 1, -1, -1):
        if df_new.iloc[:, i].dtype == object:
            if df_new.iloc[:, i].str.contains('\.', na=False).any():
                col_with_dot = i
                break

    # Find the last column with a percent sign
    for i in range(len(df_new.columns) - 1, -1, -1):
        if df_new.iloc[:, i].dtype == object:
            if df_new.iloc[:, i].str.contains('%', na=False).any():
                col_with_percent = i
                break

    columns_to_include = [0]  # Always include the first column

    if col_with_comma is not None:
        df_new['kWh'] = df_new.iloc[:, col_with_comma]
        columns_to_include.append(col_with_comma)

    if col_with_dot is not None and col_with_dot not in columns_to_include:
        columns_to_include.append(col_with_dot)

    if col_with_percent is not None:
        df_new['%'] = df_new.iloc[:, col_with_percent]  
        columns_to_include.append(col_with_percent)

    if len(columns_to_include) == 1:
        # If only one column to include, default to the first two columns
        columns_to_include = [0, 1]

    if col_with_comma == col_with_percent:
        columns_to_include = [
            df_new.columns[0],  # First column
            'kWh',  # kWh column
            df_new.columns[col_with_dot],  # Column with dot
            df_new.columns[col_with_percent]  # Column with percent
        ]

        # Adjust the regular expression to handle spaces within the kWh value
        df_new['%'] = df_new.iloc[:, col_with_percent].str.extract(r'(\d+\.\d+%)')

        # Remove spaces within the kWh values
        df_new['kWh'] = df_new.iloc[:, col_with_percent].str.extract(r'\d+\.\d+%\s*(\d\s*[\d,]+)')[0].str.replace(' ', '')

    # Convert values in parentheses to negative numbers
    def convert_parentheses_to_negative(value):
        if isinstance(value, str) and value.startswith('(') and value.endswith(')'):
            return '-' + value[1:-1]
        return value

    df_new = df_new.applymap(convert_parentheses_to_negative)

    df_new = pd.DataFrame({
        'Power Suppliers': df_new.iloc[:, 0],
        'kWh': df_new['kWh'],
        'Average Generation Cost': df_new.iloc[:, col_with_dot],
        '%': df_new['%']
    })
    df_new.columns = ['Power Suppliers', 'kWh', 'Average Generation Cost', '%']

    # Remove numbers in Power Suppliers
    df_new['Power Suppliers'] = df_new['Power Suppliers'].str.replace(r'^\d+\.\s*', '', regex=True)

    # Get the 'Generation Charge' value
    charge_row = df[df.iloc[:, 0].str.contains('CHARGE', case=False, na=False)]

    if not charge_row.empty:
        # Get the value from the last column
        rate_value = charge_row.iloc[:, -1].values[0]

        # Check if the value is NaN
        if pd.isna(rate_value):
            # If NaN, get the value from the second last column
            rate_value = charge_row.iloc[:, -2].values[0]
    else:
        rate_value = None
    
    return df_new

In [137]:
def add_date(df,key):
    df = process_rows(dataframes[key])

    end_part = key.split("_")[1]

    month_map = {
        '01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr',
        '05': 'May', '06': 'Jun', '07': 'Jul', '08': 'Aug',
        '09': 'Sep', '10': 'Oct', '11': 'Nov', '12': 'Dec'
    }
    month, year = end_part.split('-')
    formatted_date = f"{month_map[month]}-{year}"

    # Add the new column to the dataframe
    df['Date'] = formatted_date

    return(df)

In [138]:
# Initialize an empty list to store the processed dataframes
processed_dfs = []

for key in dataframes:
    print(key)
    df = dataframes[key]
    
    # Process rows and check if the result is not None
    processed_rows_df = process_rows(df)
    if processed_rows_df is None:
        raise ValueError(f"process_rows returned None for key: {key}")
    
    # Add date and check if the result is not None
    processed_df = add_date(processed_rows_df, key)
    if processed_df is None:
        raise ValueError(f"add_date returned None for key: {key}")
    
    processed_dfs.append(processed_df)

# Concatenate all the processed dataframes into one big dataframe
big_df = pd.concat(processed_dfs, ignore_index=True)

df_04-24
df_04-18
df_08-18
df_06-21
df_08-24
df_06-20
df_08-19
df_04-19
df_06-22
df_06-23
df_04-22
df_08-22
df_08-23
df_04-23
df_04-21
df_08-21
df_06-18
df_06-24
df_06-19
df_08-20
df_04-20
df_12-23
df_12-22
df_10-19
df_02-19
df_12-20
df_12-21
df_02-18
df_02-24
df_10-18
df_10-20
df_02-20
df_12-19
df_12-18
df_02-21
df_10-21
df_10-23
df_02-23
df_02-22
df_10-22
df_07-23
df_07-22
df_09-19
df_07-20
df_05-19
df_05-24
df_05-18
df_07-21
df_09-18
df_09-20
df_07-19
df_05-20
df_05-21
df_07-18
df_09-21
df_07-24
df_09-23
df_05-23
df_05-22
df_09-22
df_03-18

/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.

df_03-24
df_11-18
df_01-21
df_01-20
df_11-19
df_03-19
df_01-22
df_01-23
df_03-22
df_11-22
df_11-23
df_03-23
df_03-21
df_11-21
df_01-24
df_01-18
df_01-19
df_11-20
df_03-20

/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)
/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3191383862.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)

In [139]:
big_df['kWh'] = big_df['kWh'].str.replace(r'\s', '', regex=True)   # Remove all spaces
big_df['kWh'] = big_df['kWh'].str.replace(r'^\d+\.?\d*%', '', regex=True)  # Remove percentage and any preceding characters

big_df['Power Suppliers'] = big_df['Power Suppliers'].str.replace(r'\s*\d+\.?\d*%\s*$', '', regex=True)

big_df = big_df[~big_df['Power Suppliers'].str.contains("Subtotal", na=False, case=False)]

big_df.head(20)

,Power Suppliers,kWh,Average Generation Cost,%,Date
0,Quezon Power Phils Ltd. Co. (QPPL),"73,940,954",17.6352,2.5%,Apr-24
1,First Gas Power Corporation (FGPC) Santa Rita,"499,668,979",6.7554,17.1%,Apr-24
2,FGP Corp. (FGP) San Lorenzo,"274,353,355",6.5367,9.4%,Apr-24
4,First NatGas Power Corp. (FNPC) - San Gabriel,-,-,0.0%,Apr-24
5,San Buenaventura Power Ltd. Co. (SBPL),"286,480,000",6.9822,9.8%,Apr-24
6,Solar Philippines Tarlac Corp. (SPTC),"11,478,701",3.3122,0.4%,Apr-24
7,AC Energy (baseload),"139,200,000",3.9240,4.8%,Apr-24
8,AC Energy (midmerit),"45,936,000",4.4442,1.6%,Apr-24
9,Sual Power Inc (SPI) (midmerit),"106,720,000",5.1630,3.7%,Apr-24
10,Energy Development Corporation (EDC) (midmerit),"28,385,000",5.5294,1.0%,Apr-24
11,Powersource First Bulacan Solar Inc. (PFBS),"10,007,477",4.8408,0.3%,Apr-24
12,Solar Philippines Tanauan Corp. (SPTanC),-,-,0.0%,Apr-24
13,South Premiere Power Corp. (SPPC) EPSA-1,"301,278,406",6.7340,10.3%,Apr-24
14,Therma Luzon Inc (TLI) EPSA,"202,433,900",5.9056,6.9%,Apr-24
15,South Premiere Power Corp. (SPPC) EPSA-2,"206,780,154",6.6211,7.1%,Apr-24
17,Wholesale Electricity Spot Market (WESM),"732,979,397",5.5124,25.1%,Apr-24
18,Export Energy from Net Metering Customers,"4,634,443",6.7517,0.16%,Apr-24
19,Others*,"-529,661",NaN,-0.02%,Apr-24
20,TOTAL,"2,923,747,105",6.3882,100.0%,Apr-24
21,Other Generation Adjustments (OGA),NaN,NaN,NaN,Apr-24

### Creating Supplier Dataframe

In [140]:
unique_suppliers = big_df['Power Suppliers'].unique()

# Create a mapping of power suppliers to unique IDs
supplier_id_map = {supplier: id+1 for id, supplier in enumerate(unique_suppliers)}

# Create a new DataFrame from the mapping
supplier_df = pd.DataFrame(list(supplier_id_map.items()), columns=['Power Suppliers', 'Power Supplier ID'])

supplier_df.head()

                                   Power Suppliers  Power Supplier ID
0               Quezon Power Phils Ltd. Co. (QPPL)                  1
1  First Gas Power Corporation (FGPC)  Santa Rita                  2
2                    FGP Corp. (FGP)  San Lorenzo                  3
3    First NatGas Power Corp. (FNPC) - San Gabriel                  4
4           San Buenaventura Power Ltd. Co. (SBPL)                  5

In [142]:
unique_suppliers

array(['Quezon Power Phils Ltd. Co. (QPPL)',
       'First Gas Power Corporation (FGPC)  Santa Rita',
       'FGP Corp. (FGP)  San Lorenzo',
       'First NatGas Power Corp. (FNPC) - San Gabriel',
       'San Buenaventura Power Ltd. Co. (SBPL)',
       'Solar Philippines Tarlac Corp. (SPTC)', 'AC Energy (baseload)',
       'AC Energy (midmerit)', 'Sual Power Inc (SPI) (midmerit)',
       'Energy Development Corporation (EDC) (midmerit)',
       'Powersource First Bulacan Solar Inc. (PFBS)',
       'Solar Philippines Tanauan Corp. (SPTanC)',
       'South Premiere Power Corp. (SPPC) EPSA-1',
       'Therma Luzon Inc (TLI) EPSA',
       'South Premiere Power Corp. (SPPC) EPSA-2',
       'Wholesale Electricity Spot Market (WESM)',
       'Export Energy from Net Metering Customers', 'Others*', 'TOTAL',
       'Other Generation Adjustments (OGA)', 'Pilferage Recovery',
       'ILP Recovery', 'High Load Factor Rider', 'TOU Differential',
       'APRIL 2024 GENERATION CHARGE', 'SEM-Calaca Power Corp. (SCPC)',
       'Masinloc Power Partners Co. Ltd. (MPPCL)',
       'South Premiere Power Corp. (SPPC)', 'Therma Luzon Inc. (TLI)',
       'San Miguel Energy Corp. (SMEC)', 'Therma Mobile Inc. (TMO)',
       'Toledo Power Co. (TPC)',
       'Philippine Power & Development, Co. (PPDC)',
       'Panay Energy Development Corp. (PEDC)', 'WESM',
       'EXPORT ENERGY FROM NET METERING CUSTOMERS',
       'OTHER GENERATION ADJUSTMENTS (OGA)', nan,
       'GOUR Recovery (ERC Case No. 2011-010 CF)',
       'Other Adjustments (Recovery of the remaining February 2018 generation cost balance)',
       'APRIL 2018 GENERATION CHARGE', 'AUGUST 2018 GENERATION CHARGE',
       'South Premiere Power Corp. (SPPC) (baseload)',
       'South Premiere Power Corp. (SPPC) (midmerit)',
       'First Gen Hydro Power Corp. (FGHPC) (midmerit)', 'Other PSAs*',
       'OTHERS', 'GOUR Recovery (ERC Case No. 2020-018 CF)',
       'JUNE 2021 GENERATION CHARGE',
       'South Premiere Power Corp. (SPPC) EPSA 2024',
       'Power Sector Assets and Liabilities Management (PSALM)',
       'South Premiere Power Corp. (SPPC) 2024',
       'RECOVERY OF ADJUSTMENT IN MAY 2024 GENERATION COST**',
       'Generation (Over)/Under-Recovery Adjustment',
       'AUGUST 2024 GENERATION CHARGE',
       'GOUR Recovery (ERC Case No. 2011-010 and 2014-050 CF)',
       'JUNE 2020 GENERATION CHARGE', 'Millenium Energy Inc. (MEI)',
       'Powersource First Bulacan Solar Inc. (PFBS)*',
       'AUGUST 2019 GENERATION CHARGE', 'APRIL 2019 GENERATION CHARGE',
       'RECOVERY OF ADJUSTMENT IN MARCH 2022 GENERATION COST**',
       'JUNE 2022 GENERATION CHARGE',
       'South Premiere Power Corp. (SPPC) EPSA',
       'JUNE 2023 GENERATION CHARGE',
       'Quezon Power Phils Ltd. Co. (QPPL)*', 'Other PSAs**',
       'ADJUSTMENT IN MARCH 2022 GENERATION COST***',
       'APRIL 2022 GENERATION CHARGE', 'AUGUST 2022 GENERATION CHARGE',
       'Sual Power Inc. (SPI)', 'AUGUST 2023 GENERATION CHARGE',
       'GNPower Dinginin Ltd. Co (GNPD)',
       'RECOVERY OF ADJUSTMENT IN FEB 2023 GENERATION COST**',
       'APRIL 2023 GENERATION CHARGE',
       'GOUR Recovery (ERC Case No. 2011-010 CF & 2020-018 CF)',
       'APRIL 2021 GENERATION CHARGE', 'AUGUST 2021 GENERATION CHARGE',
       'JUNE 2018 GENERATION CHARGE',
       'ADJUSTMENT IN MAY 2024 GENERATION COST**',
       'JUNE 2024 GENERATION CHARGE', 'JUNE 2019 GENERATION CHARGE',
       'AUGUST 2020 GENERATION CHARGE', 'APRIL 2020 GENERATION CHARGE',
       'DECEMBER 2023 GENERATION CHARGE', 'Others',
       'DECEMBER 2022 GENERATION CHARGE',
       'OCTOBER 2019 GENERATION CHARGE**',
       'SEM Calaca Power Corp. (SCPC)*',
       'FEBRUARY 2019 GENERATION CHARGE',
       'DECEMBER 2020 GENERATION CHARGE',
       'RECOVERY OF OCT 2021 GENERATION COST ADJUSTMENT**',
       'DECEMBER 2021 GENERATION CHARGE', 'Panay Power Corp. (PPC)',
       'Other Adjustments (Balance of generation cost to be reflected in the March 2018 generation charge)',
       'FEBRUARY 2024 GENERATION CHARGE', 'SEM Calaca Power Corp. (SCPC)',
       'OCTOBER 2018 GENERATION CHARGE', 'OCTOBER 2020 GENERATION CHARGE',
       'AC Energy*', 'San Miguel Energy Corp. (SMEC)*',
       'South Premiere Power Corp. (SPPC)*',
       'FEBRUARY 2020 GENERATION CHARGE',
       'DECEMBER 2019 GENERATION CHARGE**',
       'DECEMBER 2018 GENERATION CHARGE', 'Therma Luzon Inc. (TLI)*',
       'FEBRUARY 2021 GENERATION CHARGE',
       'OCTOBER 2021 GENERATION CHARGE', 'OCTOBER 2023 GENERATION CHARGE',
       'FEBRUARY 2023 GENERATION CHARGE',
       'RECOVERY OF  OCT 2021 GENERATION COST ADJUSTMENT**',
       'FEBRUARY 2022 GENERATION CHARGE',
       'OCTOBER 2022 GENERATION CHARGE',
       'Sual Power Inc. (SPI) (formerly San Miguel Energy Corp. (SMEC))',
       'JULY 2023 GENERATION CHARGE', 'JULY 2022 GENERATION CHARGE',
       'SEPTEMBER 2019 GENERATION CHARGE**',
       'JULY 2020 GENERATION CHARGE', 'OTHERS**',
       'MAY 2019 GENERATION CHARGE', 'MAY 2024 GENERATION CHARGE',
       'MAY 2018 GENERATION CHARGE', 'JULY 2021 GENERATION CHARGE',
       'SEPTEMBER 2018 GENERATION CHARGE',
       'SEPTEMBER 2020 GENERATION CHARGE', 'JULY 2019 GENERATION CHARGE',
       'MAY 2020 GENERATION CHARGE', 'MAY 2021 GENERATION CHARGE',
       'JULY 2018 GENERATION CHARGE', 'SEPTEMBER 2021 GENERATION CHARGE',
       'JULY 2024 GENERATION CHARGE', 'SEPTEMBER 2023 GENERATION CHARGE',
       'Others* (0.15%)', 'MAY 2023 GENERATION CHARGE',
       'MAY 2022 GENERATION CHARGE',
       'Energy Development Corporation (EDC) (midmerit)*',
       'SEPTEMBER 2022 GENERATION CHARGE',
       'Other Adjustments (Partial recovery of the February 2018 generation charge balance)',
       'MARCH 2024 GENERATION CHARGE', 'NOVEMBER 2018 GENERATION CHARGE',
       'JANUARY 2021 GENERATION CHARGE',
       'JANUARY 2020 GENERATION CHARGE**',
       'NOVEMBER 2019 GENERATION CHARGE**',
       'MARCH 2019 GENERATION CHARGE', 'JANUARY 2022 GENERATION CHARGE',
       'JANUARY 2023 GENERATION CHARGE', 'MARCH 2022 GENERATION CHARGE',
       'NOVEMBER 2022 GENERATION CHARGE',
       'NOVEMBER 2023 GENERATION CHARGE',
       'ADJUSTMENT IN FEBRUARY 2023 GENERATION COST**',
       'MARCH 2023 GENERATION CHARGE', 'MARCH 2021 GENERATION CHARGE',
       'ADJUSTMENT IN OCTOBER 2021 GENERATION COST**',
       'NOVEMBER 2021 GENERATION CHARGE',
       'JANUARY 2024 GENERATION CHARGE', 'JANUARY 2018 GENERATION CHARGE',
       'JANUARY 2019 GENERATION CHARGE',
       'NOVEMBER 2020 GENERATION CHARGE', 'MARCH 2020 GENERATION CHARGE'],
      dtype=object)

In [12]:
# Create a mapping from Power Suppliers to Supplier IDs
supplier_mapping = dict(zip(supplier_df['Power Suppliers'], supplier_df['Power Supplier ID']))

# Replace names with IDs in big_df
big_df['Power Supplier ID'] = big_df['Power Suppliers'].map(supplier_mapping)

# Ensure IDs are not converted to floats
#big_df['Power Supplier ID'] = big_df['Power Supplier ID'].astype(int)

# Drop the old Power Suppliers column
big_df = big_df.drop(columns=['Power Suppliers'])

big_df.head()

,kWh,Average Generation Cost,Generation Charge,Date,Power Supplier ID
0,"73,940,954",17.6352,6.3889,Apr-24,1
1,"499,668,979",6.7554,6.3889,Apr-24,2
2,"274,353,355",6.5367,6.3889,Apr-24,3
3,-,-,6.3889,Apr-24,4
4,"286,480,000",6.9822,6.3889,Apr-24,5

In [13]:
%pip install openpyxl

with pd.ExcelWriter("Historical_MERALCO_GC_Breakdown.xlsx", engine='openpyxl') as writer:
    big_df.to_excel(writer, sheet_name='Historical GC', index=False)
    supplier_df.to_excel(writer, sheet_name='Supplier IDs', index=False)

Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.11/site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in /opt/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

### **Troubleshooting**

In [121]:
df = tabula.read_pdf("pdf downloads/gc_table_04-24.pdf", stream=True, pages=1)[0]

In [122]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,(C),Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,(D = B+ C),NaN,[D/A]
1,NaN,NaN,NaN,(B),Other Cost,NaN,NaN
2,NaN,% of Total,(A),NaN,Total,NaN,Average
3,NaN,NaN,NaN,Basic,Adjustments (NSS,NaN,NaN
4,Source,kWh,kWh,NaN,Generation Cost for,NaN,Generation
5,NaN,NaN,NaN,Generation Cost,and Other Billing,NaN,NaN
6,NaN,Purchased,Purchased,NaN,the Month,NaN,Cost
7,NaN,NaN,NaN,(PhP),Adjustments),NaN,NaN
8,NaN,NaN,NaN,NaN,(PhP),NaN,(PhP/kWh)
9,NaN,NaN,NaN,NaN,(PhP),NaN,NaN
10,BILATERAL CONTRACTS WITH POWER SUPPLIERS,NaN,NaN,NaN,NaN,NaN,NaN
11,1. Quezon Power Phils Ltd. Co. (QPPL),2.5%,"7 3,940,954","1,315,827,356","(11,863,082) 1,303,964,274",NaN,17.6352
12,2. First Gas Power Corporation (FGPC) Santa ...,17.1%,"499,668,979","3,402,819,049","(27,339,937) 3,375,479,112",NaN,6.7554
13,3. FGP Corp. (FGP) San Lorenzo,9.4%,"274,353,355","1,803,410,620","(10,051,310) 1,793,359,310",NaN,6.5367
14,Subtotal - Independent Power Producers (IPPs),29.0%,"847,963,288","6,522,057,025","(49,254,329) 6,472,802,696",NaN,7.6334
15,4. First NatGas Power Corp. (FNPC) - San Gabriel,0.0%,-,-,"(2,558,344) (2,558,344)",NaN,-
16,5. San Buenaventura Power Ltd. Co. (SBPL),9.8%,"286,480,000","2,007,181,587","(6,918,726) 2,000,262,860",NaN,6.9822
17,6. Solar Philippines Tarlac Corp. (SPTC),0.4%,"1 1,478,701","38,019,370","- 3 8,019,370",NaN,3.3122
18,7. AC Energy (baseload),4.8%,"139,200,000","546,219,008","- 546,219,008",NaN,3.9240
19,8. AC Energy (midmerit),1.6%,"4 5,936,000","204,146,644","- 204,146,644",NaN,4.4442
20,9. Sual Power Inc (SPI) (midmerit),3.7%,"106,720,000","561,788,292","(10,796,192) 550,992,100",NaN,5.1630
21,10. Energy Development Corporation (EDC) (midm...,1.0%,"2 8,385,000","156,952,009","- 156,952,009",NaN,5.5294
22,11. Powersource First Bulacan Solar Inc. (PFBS),0.3%,"1 0,007,477","48,443,783","- 4 8,443,783",NaN,4.8408
23,12. Solar Philippines Tanauan Corp. (SPTanC),0.0%,-,-,"(3,034,403) (3,034,403)",NaN,-
24,13. South Premiere Power Corp. (SPPC) EPSA-1,10.3%,"301,278,406","2,028,803,867","- 2,028,803,867",NaN,6.7340
25,14. Therma Luzon Inc (TLI) EPSA,6.9%,"202,433,900","1,195,493,883","- 1,195,493,883",NaN,5.9056
26,15. South Premiere Power Corp. (SPPC) EPSA-2,7.1%,"206,780,154","1,369,119,565","- 1,369,119,565",NaN,6.6211
27,Subtotal - Power Supply Agreements (PSAs),45.8%,"1,338,699,638","8,156,168,009","(23,307,665) 8,132,860,344",NaN,6.0752
28,Wholesale Electricity Spot Market (WESM),25.1%,"732,979,397","3,981,126,863","59,364,221 4,040,491,084",NaN,5.5124
29,Export Energy from Net Metering Customers,0.16%,"4 ,634,443","31,290,534","- 3 1,290,534",NaN,6.7517
30,Others*,(0.02%),"( 529,661)",-,-,-,NaN
31,TOTAL,100.0%,"2 ,923,747,105","1 8,690,642,430","(13,197,773) 18,677,444,657",NaN,6.3882
32,Other Generation Adjustments (OGA),NaN,NaN,NaN,NaN,NaN,NaN
33,1. Pilferage Recovery,NaN,NaN,NaN,NaN,NaN,(0.0117)
34,2. ILP Recovery,NaN,NaN,NaN,NaN,NaN,0.0000
35,3. High Load Factor Rider,NaN,NaN,NaN,NaN,NaN,0.0002
36,4. TOU Differential,NaN,NaN,NaN,NaN,NaN,0.0122
37,APRIL 2024 GENERATION CHARGE,NaN,NaN,NaN,NaN,NaN,6.3889
38,*Includes adjustment to align the total energy...,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
# Assuming df is already defined and contains the relevant data

# Step 1: Filter the DataFrame
supplier_index = df[df.iloc[:, 0].str.contains("SUPPLIERS", na=False)].index[0]
df_new = df.iloc[supplier_index + 1:]

df_new = df_new.reset_index(drop=True)

charge_index = df_new[df_new.iloc[:, 0].str.contains("CHARGE", na=False, case=False, regex=False)].index
if not charge_index.empty:
    charge_index = charge_index[0]
    df_new = df_new.iloc[:charge_index + 1]

# Reset index for the cleaned DataFrame
df_new = df_new.reset_index(drop=True)

# Identify columns based on their content
col_with_comma = None
col_with_dot = None
col_with_percent = None

# Find the first column with a comma
for i in range(1, len(df_new.columns)):
    if df_new.iloc[:, i].dtype == object:
        if col_with_comma is None and df_new.iloc[:, i].str.contains(',', na=False).any():
            col_with_comma = i

# Find the last column with a dot
for i in range(len(df_new.columns) - 1, -1, -1):
    if df_new.iloc[:, i].dtype == object:
        if df_new.iloc[:, i].str.contains('\.', na=False).any():
            col_with_dot = i
            break

# Find the last column with a percent sign
for i in range(len(df_new.columns) - 1, -1, -1):
    if df_new.iloc[:, i].dtype == object:
        if df_new.iloc[:, i].str.contains('%', na=False).any():
            col_with_percent = i
            break

columns_to_include = [0]  # Always include the first column

if col_with_comma is not None:
    df_new['kWh'] = df_new.iloc[:, col_with_comma]
    columns_to_include.append(col_with_comma)

if col_with_dot is not None and col_with_dot not in columns_to_include:
    columns_to_include.append(col_with_dot)

if col_with_percent is not None:
    df_new['%'] = df_new.iloc[:, col_with_percent]  
    columns_to_include.append(col_with_percent)

if len(columns_to_include) == 1:
    # If only one column to include, default to the first two columns
    columns_to_include = [0, 1]

if col_with_comma == col_with_percent:
    columns_to_include = [
        df_new.columns[0],  # First column
        'kWh',  # kWh column
        df_new.columns[col_with_dot],  # Column with dot
        df_new.columns[col_with_percent]  # Column with percent
    ]

    # Adjust the regular expression to handle spaces within the kWh value
    df_new['%'] = df_new.iloc[:, col_with_percent].str.extract(r'(\d+\.\d+%)')

    # Remove spaces within the kWh values
    df_new['kWh'] = df_new.iloc[:, col_with_percent].str.extract(r'\d+\.\d+%\s*(\d\s*[\d,]+)')[0].str.replace(' ', '')

# Convert values in parentheses to negative numbers
def convert_parentheses_to_negative(value):
    if isinstance(value, str) and value.startswith('(') and value.endswith(')'):
        return '-' + value[1:-1]
    return value

df_new = df_new.applymap(convert_parentheses_to_negative)

df_new = pd.DataFrame({
    'Power Suppliers': df_new.iloc[:, 0],
    'kWh': df_new['kWh'],
    'Average Generation Cost': df_new.iloc[:, col_with_dot],
    '%': df_new['%']
})
df_new.columns = ['Power Suppliers', 'kWh', 'Average Generation Cost', '%']

# Remove numbers in Power Suppliers
df_new['Power Suppliers'] = df_new['Power Suppliers'].str.replace(r'^\d+\.\s*', '', regex=True)

# Get the 'Generation Charge' value
charge_row = df[df.iloc[:, 0].str.contains('CHARGE', case=False, na=False)]

if not charge_row.empty:
    # Get the value from the last column
    rate_value = charge_row.iloc[:, -1].values[0]

    # Check if the value is NaN
    if pd.isna(rate_value):
        # If NaN, get the value from the second last column
        rate_value = charge_row.iloc[:, -2].values[0]
else:
    rate_value = None

df_new['Generation Charge'] = rate_value

end_part = key.split("_")[1]

month_map = {
    '01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr',
    '05': 'May', '06': 'Jun', '07': 'Jul', '08': 'Aug',
    '09': 'Sep', '10': 'Oct', '11': 'Nov', '12': 'Dec'
}
month, year = end_part.split('-')
formatted_date = f"{month_map[month]}-{year}"

# Add the new column to the dataframe
df_new['Date'] = formatted_date

df_new

/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/1887061075.py:79: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)

,Power Suppliers,kWh,Average Generation Cost,%,Generation Charge,Date
0,Quezon Power Phils Ltd. Co. (QPPL),"7 3,940,954",17.6352,2.5%,6.3889,Apr-24
1,First Gas Power Corporation (FGPC) Santa Rita,"499,668,979",6.7554,17.1%,6.3889,Apr-24
2,FGP Corp. (FGP) San Lorenzo,"274,353,355",6.5367,9.4%,6.3889,Apr-24
3,Subtotal - Independent Power Producers (IPPs),"847,963,288",7.6334,29.0%,6.3889,Apr-24
4,First NatGas Power Corp. (FNPC) - San Gabriel,-,-,0.0%,6.3889,Apr-24
5,San Buenaventura Power Ltd. Co. (SBPL),"286,480,000",6.9822,9.8%,6.3889,Apr-24
6,Solar Philippines Tarlac Corp. (SPTC),"1 1,478,701",3.3122,0.4%,6.3889,Apr-24
7,AC Energy (baseload),"139,200,000",3.9240,4.8%,6.3889,Apr-24
8,AC Energy (midmerit),"4 5,936,000",4.4442,1.6%,6.3889,Apr-24
9,Sual Power Inc (SPI) (midmerit),"106,720,000",5.1630,3.7%,6.3889,Apr-24
10,Energy Development Corporation (EDC) (midmerit),"2 8,385,000",5.5294,1.0%,6.3889,Apr-24
11,Powersource First Bulacan Solar Inc. (PFBS),"1 0,007,477",4.8408,0.3%,6.3889,Apr-24
12,Solar Philippines Tanauan Corp. (SPTanC),-,-,0.0%,6.3889,Apr-24
13,South Premiere Power Corp. (SPPC) EPSA-1,"301,278,406",6.7340,10.3%,6.3889,Apr-24
14,Therma Luzon Inc (TLI) EPSA,"202,433,900",5.9056,6.9%,6.3889,Apr-24
15,South Premiere Power Corp. (SPPC) EPSA-2,"206,780,154",6.6211,7.1%,6.3889,Apr-24
16,Subtotal - Power Supply Agreements (PSAs),"1,338,699,638",6.0752,45.8%,6.3889,Apr-24
17,Wholesale Electricity Spot Market (WESM),"732,979,397",5.5124,25.1%,6.3889,Apr-24
18,Export Energy from Net Metering Customers,"4 ,634,443",6.7517,0.16%,6.3889,Apr-24
19,Others*,"- 529,661",NaN,-0.02%,6.3889,Apr-24
20,TOTAL,"2 ,923,747,105",6.3882,100.0%,6.3889,Apr-24
21,Other Generation Adjustments (OGA),NaN,NaN,NaN,6.3889,Apr-24
22,Pilferage Recovery,NaN,-0.0117,NaN,6.3889,Apr-24
23,ILP Recovery,NaN,0.0000,NaN,6.3889,Apr-24
24,High Load Factor Rider,NaN,0.0002,NaN,6.3889,Apr-24
25,TOU Differential,NaN,0.0122,NaN,6.3889,Apr-24
26,APRIL 2024 GENERATION CHARGE,NaN,6.3889,NaN,6.3889,Apr-24

None

/var/folders/5w/f5z12zyx4tn68kmx7wk0wvv40000gn/T/ipykernel_79809/3549471205.py:80: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_new = df_new.applymap(convert_parentheses_to_negative)